@{
    ViewData["Title"] = "Online Bookstore";
}

@model BookListViewModel



<div class="text-center mt-5">
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
         page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right m-1"></div>
</div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

